body, html {
    height: 100vh;
}

body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 50% auto;
    grid-template-rows: 10% 80% auto;
    gap: 4px;
    grid-template-areas: 
             "header header header"
             "main main main" 
             "footer footer footer";

   
}



header {
    grid-area: header;
    background-color: #f2f2f2;
 
}

.main {
    grid-area: main;
    background-color: #f2f2f2;
   
}

footer {
    grid-area: footer;
    background-color: #f2f2f2;

}

